# This file contains Panda's default .gitignore rules.
# Listed files and dirs excluded from Git version control.
# This is a common strategy to avoid accidentally including
# private information in public repositories and patch files.

# Files generated with MkDocs
site
